@model IEnumerable<ProjetoLocadoraDeVeiculos.Models.Temporada>

@{
    ViewData["Title"] = "Temporadas";
}

<h1>Temporadas</h1>

<p>
    <a asp-action="Create">Novo Cadastro</a>
</p>
<br />
<div class="dt-responsive table-responsive">
    <table class="table table-striped table-borderless" id="table-filter">
        <thead>
            <tr style="white-space: nowrap">
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PercentualAcrescerDiaria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PercentualAcrescerMultaFixa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PercentualAcrescerMultaDiaria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCadastro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataAlteracao)
                </th>
                <th class="col-xs-4 col-sm-4 col-md-4 col-lg-3"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="white-space: nowrap">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PercentualAcrescerDiaria)<a>%</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PercentualAcrescerMultaFixa)<a>%</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PercentualAcrescerMultaDiaria)<a>%</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCadastro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataAlteracao)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
